/* AgeCalculator.css */

.calculate-button {
  background-color: #007bff; /* Primary color (blue in this example) */
  color: #fff; /* Text color */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.calculate-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}
.lahari {
  margin-left: 500px;
  width: 100%;
  padding: 50px;
}
input[type="date"] {
  width: 300px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  font-size: 16px;
}
h1 {
  margin-left: 50px;
}
h4 {
  margin-left: 70px;
}
button {
  margin-left: 70px;
}
p {
  margin-left: 70px;
}
